*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0px;
}
body{
    font-family: sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 100vw;
    min-height: 130px;
    background-color: whitesmoke;
    top: 0px;
    z-index: 4;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    padding-left: 1rem;
    font-size: 1rem;
}
.nav-links li a{
    color: initial;
    text-decoration: none;
    font-size: 1.1rem;
}
#logo a img{
    height: 50%;
    width: 50%;
    min-width: 250px;
}
.nav-links>li>a:hover{
    color: red;
    text-decoration: underline;
    transition: 0.6s;
}
.burger{
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}
@media screen and (max-width:1024px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        margin: 15px;
        right: 0px;
        height: 55vh;
        background-color: whitesmoke;
        top: 13vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 20%;
        transform: translateX(100%);
        transition: transform 0.8s ease-in;
    }
    .burger{
        display: block;
        cursor: pointer;
        right: 30px;
        position: absolute;
    }
}

.nav-active{
    transform: translateX(0%);
}


/* contact */
#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 , rgba(184, 60, 60, 0.795) 74% );
    color: white;
    padding-bottom: 40px;
    width: 100vw;
    left: 0px;
    position: absolute;
}
#contact h1,
#contact h1 {
    top: 100px;
    color: white;
}
#contact-container {
    display: flex;
    flex-wrap: wrap;
}

#my-details-container {
    width: 29%;
    margin-left: 4%;
    line-height: 1.5rem;
}
#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
    
}
#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}
.content1{
    margin: 30px 17% 30px 17%;
}
.paymenticons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
html {
    scroll-behavior: smooth;
}
.heading1{
    font-size: 54px;
    color: #333333;
    font-family: sans-serif;
    text-transform: capitalize;
    margin: 0px 0px 5px;
}
.para{
    font-size: 18px;
    font-family: sans-serif;
}
#side{
    position: fixed;
    text-align: center;
    margin-left: 2%;
    margin-top: 25vh;
}
.list1{
    border-style: solid ;
    border-width: 0px 0px 0px 7px;
    border-color: red;
    font-size: 1.4rem;
    padding: 8px;
    list-style-type: none;
    display: inline-block;
    font-family: sans-serif;
    box-shadow: 0px 0px 3px 1px  grey;
    width: 89%;
    margin-bottom: 5px;
    transition: 1s;
}
.list1 a {
    color: black;
    text-decoration: none;
}
.list1 a:hover {
    color: red;
    transition: 0.6s;
}

.list1 li{
    color: #0faceb;
}
.heading{
    font-size: 36px;
    font-weight: 600;
    font-family: sans-serif;
    color: #333333;

}
.list2{
    font-size: 1.07rem;
    font-family: sans-serif;
    list-style: url(../pg1/im.png);
    line-height: 1.9rem;
}
.link1{
    color: black;
}